<app-header></app-header>

<ngx-skeleton-loader count="1" class="circle" appearance="circle"></ngx-skeleton-loader>
<ngx-skeleton-loader count="2" class="circle-line" appearance="line"></ngx-skeleton-loader>
<ngx-skeleton-loader count="3" class="clearer" appearance="line"></ngx-skeleton-loader>

<div class="rockstar-content-wrapper">

    <app-component-container *ngIf="structure" [ssr]="ssr" [structure]="structure"></app-component-container>

    <mat-grid-list *ngIf="reference" [cols]="12" class="direct-content">
        <app-html-snippet [reference]="reference" [columnSpan]="12"></app-html-snippet>
    </mat-grid-list>

    <div class="clearer"></div>


</div>